/* line 4, ../../../app/stylesheets/custom.scss */
.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* line 10, ../../../app/stylesheets/custom.scss */
body {
  background: #525151;
}

/* line 14, ../../../app/stylesheets/custom.scss */
header {
  padding-top: 1em;
}
/* line 16, ../../../app/stylesheets/custom.scss */
header img {
  padding: 1em;
  background: #525151;
}

/* line 22, ../../../app/stylesheets/custom.scss */
section {
  margin-top: 1em;
  font-size: 110%;
  padding: 20px;
  background: #525151;
}
/* line 27, ../../../app/stylesheets/custom.scss */
section h1 {
  font-size: 150%;
}

/* Links */
/* line 34, ../../../app/stylesheets/custom.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 37, ../../../app/stylesheets/custom.scss */
a :hover {
  color: #069;
  text-decoration: underline;
}
/* line 41, ../../../app/stylesheets/custom.scss */
a :visited {
  color: #069;
}

/*Navigation*/
/* line 48, ../../../app/stylesheets/custom.scss */
nav {
  float: right;
  background-color: transparent;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 53, ../../../app/stylesheets/custom.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 56, ../../../app/stylesheets/custom.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 60, ../../../app/stylesheets/custom.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 64, ../../../app/stylesheets/custom.scss */
nav ul li a:visited {
  color: #fff;
}
/* line 67, ../../../app/stylesheets/custom.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/*footer*/
/* line 76, ../../../app/stylesheets/custom.scss */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}
/* line 82, ../../../app/stylesheets/custom.scss */
footer nav {
  float: none;
}
