/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, ../../app/stylesheets/home.scss */
body {
  background-color: #525151;
}

/* line 9, ../../app/stylesheets/home.scss */
p {
  position: absolute;
  margin-left: 20px;
  color: #fff;
  font-size: 100%;
}

/* Links */
/* line 18, ../../app/stylesheets/home.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 21, ../../app/stylesheets/home.scss */
a :hover {
  color: #069;
  text-decoration: underline;
}
/* line 25, ../../app/stylesheets/home.scss */
a :visited {
  color: #069;
}

/*footer*/
/* line 32, ../../app/stylesheets/home.scss */
footer {
  positon: absolute;
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}
/* line 39, ../../app/stylesheets/home.scss */
footer nav {
  float: none;
  background-color: transparent;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 44, ../../app/stylesheets/home.scss */
footer nav ul {
  margin: 0;
  padding: 0;
}
/* line 47, ../../app/stylesheets/home.scss */
footer nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 51, ../../app/stylesheets/home.scss */
footer nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 55, ../../app/stylesheets/home.scss */
footer nav ul li a:visited {
  color: #000;
}
/* line 58, ../../app/stylesheets/home.scss */
footer nav ul li a:hover {
  text-decoration: underline;
}
