$back: #525151;


.container { 
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

body {
   background: $back
}

header {
	padding-top: 1em;
	img{ 
		padding: 1em;
		background: $back;	
	}
}

section {
	margin-top: 1em;
	font-size: 110%;
	padding: 20px;
	background: $back;
	h1{
		font-size: 150%;
	}
}

/* Links */

a {
	color: #fff;
	text-decoration: none;
:hover {
		color: #069;
		text-decoration: underline;
	}
:visited {
		color: #069;
	}
}

/*Navigation*/

nav { 
	float: right;
	background-color: transparent;
	padding: 0 0.7em;
	white-space: nowrap;
ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type:none;
		display: inline-block;
		padding: 0.2em 0;
		a {
			padding: 0 5px;
  			font-weight: bold;
     }
			a:visited {
				color: #fff;
  	 }
			a:hover {
				text-decoration: underline;		
      }	    		
   	}
  }
}

/*footer*/

footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
	nav {
		float: none;
	}
}

